</div>
    <nav class="navbar">
        <div class="logo">لوگو</div>
        <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div>
        <ul class="menu">
            <!-- <li><a href="#">تماس</a></li> -->
            <!-- <li><a href="#">مقالات</a></li> -->
            <!-- <li><a href="#">محصولات</a></li> -->
            <!-- <li><a href="#">اثرهای نقاشی</a></li> -->
	    <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
            <li><a href="{% url 'contact' %}">راه‌های ارتباطی</a></li>
        </ul>
    </nav>